body {
    background-color: black;
    margin: 10px;
    padding: 10px;

}
   
.paragrafo {

    color: aquamarine;
    font-size: smaller;
    font: italic;
}

 h1 {
    color: aquamarine;
    font: italic;
 }

 ul {
    color:aquamarine
   
 }