body {
    background-color: rgb(211, 183, 183);
    margin: 10px;
    padding: 10px;

}
   
.paragrafo {

    color: aquamarine;
    font-size: smaller;
    font-style: italic;
}

 H1 {
    color: aquamarine; 
    font-style: italic;
 }

 ul {
    color:aquamarine
   
 }
